.button {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #5e73f8;
  font-size: 20px;
  background: #c2c5d4;
  padding: 10px 20px 10px 20px;
  border: solid #5e73f8 4px;
  text-decoration: none;
}

.button:hover {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  background: #c2c5d4;
  background-image: -webkit-linear-gradient(top, #c2c5d4, #5e73f8);
  background-image: -moz-linear-gradient(top, #c2c5d4, #5e73f8);
  background-image: -ms-linear-gradient(top, #c2c5d4, #5e73f8);
  background-image: -o-linear-gradient(top, #c2c5d4, #5e73f8);
  background-image: linear-gradient(to bottom, #c2c5d4, #5e73f8);
  text-decoration: none;
}